<div id="<%= dom_id patient %>">
  <p>
    <strong>First name:</strong>
    <%= patient.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= patient.last_name %>
  </p>

  <p>
    <strong>Dob:</strong>
    <%= patient.dob %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= patient.gender %>
  </p>

  <p>
    <strong>Race:</strong>
    <%= patient.race %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= patient.address %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= patient.phone_number %>
  </p>

  <p>
    <strong>Underlying conditions:</strong>
    <%= patient.underlying_conditions %>
  </p>

  <p>
    <strong>Vaccination history:</strong>
    <%= patient.vaccination_history %>
  </p>

  <p>
    <strong>Bp:</strong>
    <%= patient.bp %>
  </p>

  <p>
    <strong>Urine sample:</strong>
    <%= patient.urine_sample %>
  </p>

  <p>
    <strong>Temp:</strong>
    <%= patient.temp %>
  </p>

  <p>
    <strong>Cardio:</strong>
    <%= patient.cardio %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= patient.weight %>
  </p>

  <p>
    <strong>Height:</strong>
    <%= patient.height %>
  </p>

  <p>
    <strong>Allergies:</strong>
    <%= patient.allergies %>
  </p>

  <p>
    <strong>Medical allergies:</strong>
    <%= patient.medical_allergies %>
  </p>

  <p>
    <strong>Female:</strong>
    <%= patient.female %>
  </p>

  <p>
    <strong>Number of children:</strong>
    <%= patient.number_of_children %>
  </p>

  <p>
    <strong>Marital status:</strong>
    <%= patient.marital_status %>
  </p>

  <p>
    <strong>Next of kin:</strong>
    <%= patient.next_of_kin %>
  </p>

  <p>
    <strong>Scan results:</strong>
    <%= patient.scan_results %>
  </p>

  <p>
    <strong>Id:</strong>
    <%= patient.id %>
  </p>

</div>
